.list{
    width: 443px;
height: 520px;
left: 88px;
top: 336px;

background: #FFFFFF;
border: 1px solid #2174C9;
border-radius: 40px;
margin-top: -2rem;
margin-left: 34rem;

}
form{
    display: flex;
    flex-direction: column;
   gap: 0.5rem;
}
label{
  text-align: center;
  
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size:20px;
line-height: 54px;
/* identical to box height */


color: #000000;
}
input{
    width: 250px;
height: 40px;
background: #FFFFFF;
border: 1px solid #000000;
border-radius: 20px;
margin-left: 6rem;
text-align: center;
font-size: 17px;
}
button{
width: 200px;
height: 40px;
background: #FA8937;
border-radius: 100px;
margin-left: 8rem;
margin-top: 0.7rem;
border: none;

}
h4{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 54px;
/* identical to box height */
text-align: center;
margin-top: -0.5rem;
color: #FFFFFF;
}
